Cart.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT Cart (Product)*>
<!ELEMENT Product (productID,name,quantity,status,unitPrice,image,description)>
<!ELEMENT productID (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT unitPrice (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT description (#PCDATA)>