Customer/dtd/CustomerProfile.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT Customer (customerID, email, customerName, mobile, password, resetCode?)>

<!ELEMENT customerID (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT customerName (#PCDATA)>
<!ELEMENT mobile (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT resetCode (#PCDATA)>
<!ATTLIST Customer customerID ID #REQUIRED>
<!ATTLIST customerID datatype (integer) #REQUIRED>

<!ELEMENT __ROOT__ ANY>
<!ATTLIST __ROOT__ version CDATA #REQUIRED>